<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Spring MVC GeekApp</title>
</head>

<body>
    <h1>Добавить новый товар</h1>

    <form th:action="@{/product/add}" method="POST">
        <input type="text" name="title" placeholder="Введите название товара"/>
        <input type="text" name="price" placeholder="Введите цену"/>
        <input type="submit"/>
    </form>

    <br>
    <a th:href="@{/product}">Назад</a>
</body>
</html>