<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Spring MVC GeekApp</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
    <h1>Список пользователей:</h1>
    <table class="table">
        <thead>
        <tr>
            <td>Id</td>
            <td>Имя</td>
            <td>Возраст</td>
        </tr>
        </thead>
        <tbody>

        <tr th:each="b : ${frontUser}">
            <td th:text="${b.id}"></td>
            <td th:text="${b.name}"></td>
            <td th:text="${b.age + ' лет'}"></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/user}">Назад</a>
</body>
</html>